* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}
@font-face {
	font-family: kamerik-3d;
	src: url(../fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}
@font-face {
	font-family: merriweather-italic-3d;
	src: url(../fonts/merriweather-regular-italic.woff2);
}
body {
	background-color: #000;
	color: #fff;
	font-family: 'kamerik-3d';
}

  

.layers {
	perspective: 750px;
	overflow: hidden;
}
.layers__container {
	height: 100vh;
	min-height: 500px;
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}
.layers__item {
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	
}

.layer-1 {
	transform: translateZ(-55px) scale(1.06);
}
.layer-2 {
	transform: translateZ(80px) scale(.88);
}
.layer-3 {
	transform: translateZ(180px) scale(.8);
}
.layer-4 {
	transform: translateZ(190px) scale(.9);
}
.layer-5 {
	transform: translateZ(300px) scale(.9);
}
.layer-6 {
	transform: translateZ(380px);
}
.hero-content {
	font-size: calc(var(--index) * 2.9);
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * -.15);
	line-height: 1.35em;
	margin-top: calc(var(--index) * 5.5);
}
.hero-content span {
	display: block;
}
.hero-content__p {
	text-transform: none;
	font-family: merriweather-italic-3d;
	letter-spacing: normal;
	font-size: calc(var(--index) * .73);
	line-height: 3;
}
.button-start {
	font-family: Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * .71);
	letter-spacing: -.02vw;
	padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
	background-color: transparent;
	color: #fff;
	border-radius: 10em;
	border: rgb(255 255 255 / .4) 3px solid;
	outline: none;
	cursor: pointer;
	margin-top: calc(var(--index) * 2.5);
}
.layer-4, .layer-5, .layer-6 {
	pointer-events: none;
}

.container  {
    padding: 0 20px;
	max-width: 1660px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
	position: absolute;
	z-index: 20;
	perspective: 1000px;
	

}


.name span {
    color: #12F7D6;
    font-weight: 500;
    font-style: medium; 
    font-size: 22px;

}
.name {
   color: white;
   font-weight: 500;
   font-style: medium; 
    font-size: 22px;
}
.pages {
    display: flex;
    gap: 22px;
}
.profils {
    display: flex;
    gap: 22px;
}
.bloks {
    display: flex;
    gap: 22px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 35px 25px;
	border-radius: 20px;
	margin-top: 10px;
	background-color: #0133034d;
	box-shadow: 0px 0px 4px 0px white;
}
.bloks a {
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    font-style: medium;
    font-family: 'IBM Plex Mono';
    color: white;
}
.home {
    color: #12F7D6;
}
.name {
	text-shadow:
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;
}
.serch input {
    border: none;
    outline: none;
    border-radius: 24px;
    padding: 7px 7px;
}
.profils a {
    display: flex;
    align-items: center;
    gap: 8px;
}
h1 {
    font-size: 50px;
    font-weight: 400;
    color: #98FAEC;
    text-align: center;
	margin-top: -40px;
	text-shadow:
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;
}

.hero {
	position: absolute;
	top: 270px;
}
.download-btn {
    position: relative;
	
    background: linear-gradient(135deg, #12F7D6, #0f0f0f);
    display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: 15px 20px;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	font-size: 20px;
	margin-top: 25px;
	gap: 8px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 10px #12F7D6, 0 0 20px #12F7D6 inset;
    transition: transform 0.2s ease, box-shadow 0.4s ease;
  }
  
  .download-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 200%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.3), transparent);
    transform: skewX(-20deg);
    transition: left 0.5s;
    z-index: 0;
  }
  
  .download-btn:hover::before {
    left: 100%;
  }
  
  .download-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #12F7D6, 0 0 30px #12F7D6 inset;
  }
  
  .download-btn:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px #12F7D6, 0 0 20px #12F7D6 inset;
  }
  
.portfolio_block {
	border-radius:160px 0 160px 0 ;
	box-shadow: 0px 0px 4px 0px white;
	max-width: 350px;
	width: 100%;
	text-align: center;
	margin-top: 64px;
	padding: 37px 35px;
	margin-left: 150px;
	background-color: #0133034d;
	transition: transform 0.3s, box-shadow 0.3s;
}


.portfolio_block:hover {
	transform: scale(1.05);
      box-shadow: 0 0 40px #0ff;
}
.post {
	margin-top: 20px;
	text-align: left;
}
.post p img {
	margin-right: 8px;
}
.post p {
	margin-top: 15px;
}
.portfolio_img {
	img {
		width: 75px;
		height: 75px;
	}
}
h4 {
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 24px;
}

.hero_block {
	display: flex;
}

.hero_2 {
	position: absolute;
	left: 800px;
	top: 80px;
	background-color: #0133034d;
	box-shadow: 0px 0px 4px 0px white;
	padding: 20px;
	border-radius: 30px;
	transition: transform 0.3s, box-shadow 0.3s;
}
.hero_2:hover {
	transform: scale(1.05);
      box-shadow: 0 0 40px #0ff;
}
.text {
	font-size: 65px;
}
.hero_2 span {
	color: #12F7D6;
}
.hero_2 p span {
	font-size: 16px;
}
.hero_2 p b {
	font-size: 65px;
	color: #12F7D6;
	
}
.hero p {
	padding-left: 20px;
}
.para p {
	padding-left: 20px;
}
.para {
	margin-top: 30px;
}